/* Issue */

.issue-box {
    border-radius: 10px;
    border: solid 1px transparent;
    background-color: rgb(75, 75, 75);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.issue-content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.issue-title {
    color: antiquewhite;
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0;
}