/* Issues */

.issue-box{
    text-align: center;
}

.theList {
    list-style: none;
}

.issue-item {
    background-color: rgb(129, 127, 127);
    color: white;
    border: solid 1px transparent;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: 0;
}

.issue-text {
    text-align: left
}

.no-decoration {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.x {
    color: white;
}

.x:hover {
    color: red;
}

.check {
    color: white;
}

.check:hover {
    color: green;
}

.green{
    background-color: green;
}