.todoListMain {
    background-color: rgb(87, 87, 87);
    height: 100%;
    width: 100%;
}

.issues-box {
    text-align: center;
}

.buton-top {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}